* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}

body {
    background-image: url("../img/fondo_letras_op.jpg");
    background-size: cover;
    background-position: center; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;          
    height: 100vh;         
    text-align: center;
}
h2{
    color: #4CB4CA;
    text-shadow: 1px 1px 2px #ffffff6b;
}
input{
    background-color: #3F6091;
    padding: 10px 200px;
    border: transparent;
    border-radius: 30px;
    box-shadow: 3px 3px 5px #563d8288;
    font-size: 25px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { /*flechas */
  -webkit-appearance: none;
  margin: 0;
}